# **Final_Project** DUE OCT. 15th TUESDAY

## Yingjie Chen (yc24966) - 08:30 section
## Andrew Han (ah49372) - 10:30 section
## Sitong Li (sl43736) - 10:30 section
## Matthew Ruffner (mar9632) - 08:30 section
## Xinmeng Song (xs3659) - 08:30 section

###Task A: Preparation

In [ ]:
#installs and imports
import time
import sys
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [ ]:
#Import dataset .csv file
from google.colab import files
uploaded = files.upload()

Saving apple_reviews.csv to apple_reviews.csv

In [ ]:
apple_reviews = pd.read_csv("apple_reviews.csv")
apple_reviews

                                                   date  ...                                               cons
0     Tue Oct 06 2020 17:19:19 GMT-0500 (Central Day...  ...    Difficult to onboard\nVery little documentation
1     Thu Aug 28 2014 21:07:35 GMT-0500 (Central Day...  ...  ZERO ZERO ZERO work/life balance. Execs have b...
2     Fri Oct 02 2020 23:06:48 GMT-0500 (Central Day...  ...                       Hard to stand out sometimes.
3     Tue Oct 06 2020 07:36:22 GMT-0500 (Central Day...  ...                              poor ladder to c limb
4     Tue Oct 06 2020 14:01:57 GMT-0500 (Central Day...  ...                       Not super flexible on hours.
...                                                 ...  ...                                                ...
4995  Wed May 31 2017 15:54:57 GMT-0500 (Central Day...  ...  -Disorganized management team -Separating betw...
4996  Tue May 16 2017 10:55:20 GMT-0500 (Central Day...  ...                    Unable to meet people from work
4997  Mon May 29 2017 23:28:26 GMT-0500 (Central Day...  ...          Work and life balance can be a challenge.
4998  Tue May 30 2017 09:34:07 GMT-0500 (Central Day...  ...    Inconsistent schedule and job can be repetitive
4999  Tue May 30 2017 10:36:32 GMT-0500 (Central Day...  ...  The stores can get kind of busy at times and i...

[5000 rows x 4 columns]

In [ ]:
apple_reviews = pd.read_csv("apple_reviews.csv")
apple_reviews

                                                   date  ...                                               cons
0     Tue Oct 06 2020 17:19:19 GMT-0500 (Central Day...  ...    Difficult to onboard\nVery little documentation
1     Thu Aug 28 2014 21:07:35 GMT-0500 (Central Day...  ...  ZERO ZERO ZERO work/life balance. Execs have b...
2     Fri Oct 02 2020 23:06:48 GMT-0500 (Central Day...  ...                       Hard to stand out sometimes.
3     Tue Oct 06 2020 07:36:22 GMT-0500 (Central Day...  ...                              poor ladder to c limb
4     Tue Oct 06 2020 14:01:57 GMT-0500 (Central Day...  ...                       Not super flexible on hours.
...                                                 ...  ...                                                ...
4995  Wed May 31 2017 15:54:57 GMT-0500 (Central Day...  ...  -Disorganized management team -Separating betw...
4996  Tue May 16 2017 10:55:20 GMT-0500 (Central Day...  ...                    Unable to meet people from work
4997  Mon May 29 2017 23:28:26 GMT-0500 (Central Day...  ...          Work and life balance can be a challenge.
4998  Tue May 30 2017 09:34:07 GMT-0500 (Central Day...  ...    Inconsistent schedule and job can be repetitive
4999  Tue May 30 2017 10:36:32 GMT-0500 (Central Day...  ...  The stores can get kind of busy at times and i...

[5000 rows x 4 columns]

###Task B: Cleaning

In [ ]:
#Check dimension and summary of data for presentation

In [ ]:
import pandas as pd
df = pd.read_csv("apple_reviews.csv")

In [ ]:
#Code from HW1
import nltk
import re
from nltk.corpus import stopwords
nltk.download('stopwords')

def lower(string):
    return str(string).lower()

df["pros"] = df["pros"].apply(lower)
df["cons"] = df["cons"].apply(lower)

def findre(string):
    return re.findall("([a-zA-Z]+)", string)

df["pros_word_list"] = df["pros"].apply(findre)
df["cons_word_list"] = df["cons"].apply(findre)

stop_words = set(stopwords.words('english'))

def remove_single(s):
    return [w for w in s if not w in list(map(chr, range(97, 123)))] 

def remove_stopwords(s):
    return [w for w in s if not w in stop_words] 

df["pros_word_list"] = df["pros_word_list"].apply(remove_stopwords)
df["cons_word_list"] = df["cons_word_list"].apply(remove_stopwords)
df["final_version_pro"]  = df["pros_word_list"] .apply(remove_single)
df["final_version_con"]  = df["cons_word_list"] .apply(remove_single)

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

In [ ]:
from datetime import datetime
for i in range (0,len(df)):
    df['date'][i] = df['date'][i][4:16]
    # df['date'][i] = datetime.strptime(df['date'][i], '%m %d %YYYY')

df['date'] = df['date'].astype('datetime64[ns]')
df['year']=pd.DatetimeIndex(df['date']).year

In [ ]:
df

           date  ...  year
0    2020-10-06  ...  2020
1    2014-08-28  ...  2014
2    2020-10-02  ...  2020
3    2020-10-06  ...  2020
4    2020-10-06  ...  2020
...         ...  ...   ...
4995 2017-05-31  ...  2017
4996 2017-05-16  ...  2017
4997 2017-05-29  ...  2017
4998 2017-05-30  ...  2017
4999 2017-05-30  ...  2017

[5000 rows x 9 columns]

###Task C: EDA

In [ ]:
#Word Frequency Count
def word_count(words_list):
    dictionary = {}
    for words in words_list:
        if words not in dictionary.keys():
            dictionary[words] = 1
    return dictionary

df["pros_dictionary"] = df["final_version_pro"].apply(word_count)
df["cons_dictionary"] = df["final_version_con"].apply(word_count)

In [ ]:
pro_final_dict = {}
con_final_dict = {}

def pro_update_dict(dictionary):
    for key in dictionary.keys():
        if key in pro_final_dict.keys():
            pro_final_dict[key] += 1
        else:
            pro_final_dict[key] = 1
            
def con_update_dict(dictionary):
    for key in dictionary.keys():
        if key in con_final_dict.keys():
            con_final_dict[key] += 1
        else:
            con_final_dict[key] = 1
        
df["pros_dictionary"].apply(pro_update_dict)
df["cons_dictionary"].apply(con_update_dict)

0       None
1       None
2       None
3       None
4       None
        ...
4995    None
4996    None
4997    None
4998    None
4999    None
Name: cons_dictionary, Length: 5000, dtype: object

# New Section

In [ ]:
pro_df = pd.DataFrame.from_dict(pro_final_dict, orient='index')
con_df = pd.DataFrame.from_dict(con_final_dict, orient='index')
# df.head()
# df.rename(columns = "0", inplace = True)
pro_freq_list = pro_df[0].sort_values(ascending=False).index.tolist()
con_freq_list = con_df[0].sort_values(ascending=False).index.tolist()

In [ ]:
pro_freq_list[0:70]

['great',
 'benefits',
 'work',
 'good',
 'people',
 'pay',
 'company',
 'environment',
 'apple',
 'culture',
 'amazing',
 'time',
 'discounts',
 'team',
 'products',
 'working',
 'job',
 'employees',
 'best',
 'part',
 'fun',
 'flexible',
 'get',
 'retail',
 'coworkers',
 'management',
 'place',
 'really',
 'stock',
 'training',
 'lot',
 'employee',
 'awesome',
 'workers',
 'life',
 'learn',
 'home',
 'opportunities',
 'experience',
 'co',
 'health',
 'nice',
 'care',
 'perks',
 'decent',
 'lots',
 'hours',
 'growth',
 'excellent',
 'always',
 'schedule',
 'like',
 'friendly',
 'smart',
 'well',
 'balance',
 'development',
 'salary',
 'opportunity',
 'managers',
 'even',
 'customers',
 'everyone',
 'career',
 'new',
 'full',
 'make',
 'options',
 'competitive',
 'discount']

In [ ]:
# Top Three features: weekends, culture, politics

In [ ]:
###Task D: EDA

In [ ]:
#management, balance, people, environment, culture, weekends, leadership, politics, opportunities, experience
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity

tmp = ["weekends", "culture", "management"]
attribute = ", ".join(tmp)

# df = pd.DataFrame({"review": ["I love the taste, and color, smell of this beer"]})
# text2 = "I love the taste, and color, smell of this beer"

def similarity(list_of_words):
    string = ", ".join(list_of_words)
    documents = [attribute, string]
    count_vectorizer = CountVectorizer()
    count_matrix = count_vectorizer.fit_transform(documents)
    #print(count_matrix)
    return cosine_similarity(count_matrix[0:1], count_matrix)[0][1]

df["sim_pro"] = df["final_version_pro"].map(similarity)
df["sim_con"] = df["final_version_con"].map(similarity)

In [ ]:
#checking
df["sim_pro"].sort_values(ascending=False)

3992    0.516398
1124    0.471405
702     0.471405
433     0.471405
2076    0.436436
          ...
3206    0.000000
3207    0.000000
3208    0.000000
3209    0.000000
0       0.000000
Name: sim_pro, Length: 5000, dtype: float64

In [ ]:
#checking
df["sim_con"].sort_values(ascending=False)

3406    0.577350
2172    0.577350
722     0.516398
957     0.433013
1866    0.408248
          ...
3158    0.000000
3157    0.000000
3156    0.000000
3155    0.000000
0       0.000000
Name: sim_con, Length: 5000, dtype: float64

In [ ]:
df.iloc[4905]

date                                               2017-06-18 00:00:00
location                                             San Francisco, CA
pros                 great benefits, exciting work culture, good co...
cons                 depending on your position, advancement can be...
pros_word_list       [great, benefits, exciting, work, culture, goo...
cons_word_list       [depending, position, advancement, limited, re...
final_version_pro    [great, benefits, exciting, work, culture, goo...
final_version_con    [depending, position, advancement, limited, re...
year                                                              2017
pros_dictionary      {'great': 1, 'benefits': 1, 'exciting': 1, 'wo...
cons_dictionary      {'depending': 1, 'position': 1, 'advancement':...
sim_pro                                                       0.365148
sim_con                                                              0
Name: 4905, dtype: object

In [ ]:
# Sentiment
from collections import Counter
features = tmp
import nltk
nltk.download('vader_lexicon')
from nltk.sentiment.vader import SentimentIntensityAnalyzer
sid = SentimentIntensityAnalyzer()
import numpy as np

def once(review, ori1, ori2):
#     print(ori1, ori2)
    startpos = ori1-2 if ori1-2 > 0 else 0
    endpos = ori2+2 if ori2+2 < len(review)-1 else len(review)-1
    sentence = review[startpos: endpos+1]
    sentence_s = " ".join(sentence)
#     print(sentence_s)
    return sid.polarity_scores(sentence_s)["compound"]

for number in range(3):

  def sentiment(review):
    if features[number] in review:
        scores = []
        count = [i for i, n in enumerate(review) if n == features[number]]
        return once(review, count[0], count[-1])
    return 0

  df[features[number]] = df['final_version_pro'].map(sentiment)


df.replace(0, np.NaN)
#df[["score", "score-1","score-2"]].mean(axis=1)

[nltk_data] Downloading package vader_lexicon to /root/nltk_data...

/usr/local/lib/python3.6/dist-packages/nltk/twitter/__init__.py:20: UserWarning: The twython library has not been installed. Some functionality from the twitter package will not be available.
  warnings.warn("The twython library has not been installed. "

           date            location  ... culture management
0    2020-10-06       Cupertino, CA  ...     NaN        NaN
1    2014-08-28                 NaN  ...     NaN        NaN
2    2020-10-02          Denver, CO  ...     NaN        NaN
3    2020-10-06       Cupertino, CA  ...     NaN     0.6249
4    2020-10-06  Virginia Beach, VA  ...     NaN        NaN
...         ...                 ...  ...     ...        ...
4995 2017-05-31          Nanuet, NY  ...     NaN        NaN
4996 2017-05-16                 NaN  ...     NaN        NaN
4997 2017-05-29                 NaN  ...     NaN        NaN
4998 2017-05-30                 NaN  ...     NaN        NaN
4999 2017-05-30          Dallas, TX  ...     NaN     0.2732

[5000 rows x 16 columns]

In [ ]:
#checking
df["weekends"].sort_values() #almost all 0 value in weekends because people dont talk about weekend in pros

3354   -0.4404
417    -0.1280
0       0.0000
3335    0.0000
3334    0.0000
         ...
1663    0.0000
1662    0.0000
1669    0.0000
3632    0.0772
1012    0.5719
Name: weekends, Length: 5000, dtype: float64

In [ ]:
# Sentiment
from collections import Counter
features = tmp
import nltk
nltk.download('vader_lexicon')
from nltk.sentiment.vader import SentimentIntensityAnalyzer
sid = SentimentIntensityAnalyzer()
import numpy as np

def once(review, ori1, ori2):
#     print(ori1, ori2)
    startpos = ori1-2 if ori1-2 > 0 else 0
    endpos = ori2+2 if ori2+2 < len(review)-1 else len(review)-1
    sentence = review[startpos: endpos+1]
    sentence_s = " ".join(sentence)
#     print(sentence_s)
    return sid.polarity_scores(sentence_s)["compound"]

for number in range(3):

  def sentiment(review):
    if features[number] in review:
        scores = []
        count = [i for i, n in enumerate(review) if n == features[number]]
        return once(review, count[0], count[-1])
    return 0

  df[features[number]+"_con"] = df['final_version_con'].map(sentiment)


df.replace(0, np.NaN)
#df[["score", "score-1","score-2"]].mean(axis=1)

[nltk_data] Downloading package vader_lexicon to /root/nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

           date            location  ... culture_con management_con
0    2020-10-06       Cupertino, CA  ...         NaN            NaN
1    2014-08-28                 NaN  ...         NaN         0.2023
2    2020-10-02          Denver, CO  ...         NaN            NaN
3    2020-10-06       Cupertino, CA  ...         NaN            NaN
4    2020-10-06  Virginia Beach, VA  ...         NaN            NaN
...         ...                 ...  ...         ...            ...
4995 2017-05-31          Nanuet, NY  ...         NaN        -0.2960
4996 2017-05-16                 NaN  ...         NaN            NaN
4997 2017-05-29                 NaN  ...         NaN            NaN
4998 2017-05-30                 NaN  ...         NaN            NaN
4999 2017-05-30          Dallas, TX  ...         NaN            NaN

[5000 rows x 19 columns]

In [ ]:
#checking
df["weekends"].isnull().sum()
#df['management'][df['management'] == np.NaN]

0

In [ ]:
#Overall score


# example: 
# --------------------------
# apple_reviews #1

# pro: aosijahlf

# con: management and food    (VADER 0.05  ) it should be -0.5

In [ ]:
df["cons"].iloc[1888]

"if it wasn't for not being able to pick your own hours and working weekends it would be an amazing job."

In [ ]:
#Overall

#overall = (sim_pro - sim_con) + avg(senti 4 of them) - weekend_penalty

df["sentiment_score"]=df.apply(lambda x:(x["culture"]+x["management"]+x["weekends"]+x["culture_con"]+x["management_con"]+x["weekends_con"])/6,axis=1)

df["similarity_score"]=df.apply(lambda x:(x["sim_pro"]-x["sim_con"]),axis=1)

In [ ]:
#weekend penalty
#add a flag column

In [ ]:
#group by


df = df.groupby(['location']).filter(lambda x: len(x) >= 15)

reviews_group_df=df.loc[:,["location","sentiment_score","similarity_score"]].groupby("location").mean().reset_index()

In [ ]:
reviews_group_df["evaluation_score"]=reviews_group_df.apply(lambda x:x["similarity_score"]+x["sentiment_score"],axis=1)

#df = df.groupby(['category']).filter(lambda x: len(x) >= 5)


reviews_group_df.sort_values(by='evaluation_score',ascending=False)

             location  sentiment_score  similarity_score  evaluation_score
21        Seattle, WA         0.013071          0.036478          0.049549
12        Orlando, FL         0.022856          0.018678          0.041534
17      San Diego, CA         0.012041          0.028041          0.040082
4        Columbus, OH         0.026794          0.010035          0.036829
16    San Antonio, TX         0.016789          0.006367          0.023156
1          Austin, TX         0.017616          0.000103          0.017718
18  San Francisco, CA         0.013417          0.003818          0.017235
23     Washington, DC         0.017405         -0.004724          0.012681
11       New York, NY         0.015062         -0.005259          0.009803
22      Sunnyvale, CA         0.006870         -0.001198          0.005672
0         Atlanta, GA         0.003512          0.000921          0.004433
19       San Jose, CA         0.007624         -0.005840          0.001784
9     Los Angeles, CA         0.010659         -0.009963          0.000697
15     Sacramento, CA         0.006502         -0.010577         -0.004076
5       Cupertino, CA         0.007010         -0.011136         -0.004126
6          Dallas, TX         0.008296         -0.013329         -0.005033
10          Miami, FL         0.014092         -0.019205         -0.005112
3         Chicago, IL         0.008924         -0.016779         -0.007855
13     Pittsburgh, PA         0.013561         -0.026079         -0.012518
8         Houston, TX         0.009081         -0.024666         -0.015586
20    Santa Clara, CA        -0.005520         -0.014340         -0.019859
7       Elk Grove, CA         0.010605         -0.031970         -0.021366
2          Boston, MA         0.022931         -0.065475         -0.042544
14       Portland, OR        -0.002717         -0.039974         -0.042691

In [ ]:
df.groupby("location").count()["date"].nlargest(40) # pick locations with more than 15 reviews

location
Cupertino, CA        481
New York, NY         226
Austin, TX           195
San Francisco, CA    105
Los Angeles, CA       88
Sunnyvale, CA         68
Atlanta, GA           55
Houston, TX           54
Chicago, IL           48
Miami, FL             42
Dallas, TX            40
Boston, MA            36
San Jose, CA          36
Orlando, FL           31
Elk Grove, CA         25
San Diego, CA         23
San Antonio, TX       22
Seattle, WA           22
Washington, DC        22
Sacramento, CA        18
Pittsburgh, PA        18
Santa Clara, CA       16
Columbus, OH          16
Portland, OR          15
Name: date, dtype: int64