In [3]:
import pandas as pd

In [4]:
buildings = pd.read_csv('csv_building_structure.csv')
names = pd.read_csv('ward_vdcmun_district_name_mapping.csv')

In [5]:
buildings.head()

,building_id,district_id,vdcmun_id,ward_id,count_floors_pre_eq,count_floors_post_eq,age_building,plinth_area_sq_ft,height_ft_pre_eq,height_ft_post_eq,...,has_superstructure_mud_mortar_brick,has_superstructure_cement_mortar_brick,has_superstructure_timber,has_superstructure_bamboo,has_superstructure_rc_non_engineered,has_superstructure_rc_engineered,has_superstructure_other,condition_post_eq,damage_grade,technical_solution_proposed
0,120101000011,12,1207,120703,1,1,9,288,9,9,...,0,0,0,1,0,0,0,Damaged-Used in risk,Grade 3,Major repair
1,120101000021,12,1207,120703,1,1,15,364,9,9,...,0,0,0,1,0,0,0,Damaged-Repaired and used,Grade 5,Reconstruction
2,120101000031,12,1207,120703,1,1,20,384,9,9,...,0,0,0,0,0,0,0,Damaged-Repaired and used,Grade 2,Minor repair
3,120101000041,12,1207,120703,1,1,20,312,9,9,...,0,0,0,0,0,0,0,Damaged-Repaired and used,Grade 2,Minor repair
4,120101000051,12,1207,120703,1,1,30,308,9,9,...,0,0,0,0,0,0,0,Damaged-Repaired and used,Grade 1,Minor repair

In [6]:
names.head()

,ward_id,vdcmun_id,vdcmun_name,district_id,district_name
0,120101,1201,Champadevi Rural Municipality,12,Okhaldhunga
1,120102,1201,Champadevi Rural Municipality,12,Okhaldhunga
2,120103,1201,Champadevi Rural Municipality,12,Okhaldhunga
3,120104,1201,Champadevi Rural Municipality,12,Okhaldhunga
4,120105,1201,Champadevi Rural Municipality,12,Okhaldhunga

In [7]:
df = buildings.merge(names, left_on = ['district_id', 'vdcmun_id', 'ward_id'], right_on = ['district_id', 'vdcmun_id', 'ward_id'])

In [9]:
df[['building_id','district_id','vdcmun_id']]

         building_id  district_id  vdcmun_id
0       120101000011           12       1207
1       120101000021           12       1207
2       120101000031           12       1207
3       120101000041           12       1207
4       120101000051           12       1207
...              ...          ...        ...
762101  366705001261           36       3603
762102  366705001271           36       3603
762103  366705001281           36       3603
762104  366705001291           36       3603
762105  366705001301           36       3603

[762106 rows x 3 columns]

In [ ]:
# df.to_csv('location_names')

In [11]:
df.district_id.unique()

array([12, 20, 21, 22, 23, 24, 28, 29, 30, 31, 36])

In [12]:
df.columns

Index(['building_id', 'district_id', 'vdcmun_id', 'ward_id',
       'count_floors_pre_eq', 'count_floors_post_eq', 'age_building',
       'plinth_area_sq_ft', 'height_ft_pre_eq', 'height_ft_post_eq',
       'land_surface_condition', 'foundation_type', 'roof_type',
       'ground_floor_type', 'other_floor_type', 'position',
       'plan_configuration', 'has_superstructure_adobe_mud',
       'has_superstructure_mud_mortar_stone', 'has_superstructure_stone_flag',
       'has_superstructure_cement_mortar_stone',
       'has_superstructure_mud_mortar_brick',
       'has_superstructure_cement_mortar_brick', 'has_superstructure_timber',
       'has_superstructure_bamboo', 'has_superstructure_rc_non_engineered',
       'has_superstructure_rc_engineered', 'has_superstructure_other',
       'condition_post_eq', 'damage_grade', 'technical_solution_proposed',
       'vdcmun_name', 'district_name'],
      dtype='object')

In [15]:
len(df.vdcmun_name.unique())

106

In [16]:
!pip install geopy

Collecting geopy
  Downloading geopy-2.0.0-py3-none-any.whl (111 kB)
     |â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 111 kB 1.2 MB/s eta 0:00:01
Collecting geographiclib<2,>=1.49
  Downloading geographiclib-1.50-py3-none-any.whl (38 kB)
Installing collected packages: geographiclib, geopy
Successfully installed geographiclib-1.50 geopy-2.0.0

In [42]:
coordinate_list = []

from geopy.geocoders import Nominatim
for name in list(df['vdcmun_name'].unique()):
    geolocator = Nominatim(user_agent='msba')
    location = geolocator.geocode(name)
    if len(str(type(location))) > 18: # some locations cannot be automatically recognized and must be manually entered in later
        coordinate_list.append([location.latitude, location.longitude])

66